{
  mode: '<%=mode%>',
  srcDir: '<%=srcDir%>'<% if ((typeof nuxtModules) !== 'undefined') { %>,
  modules: [
    <% if (nuxtModules.includes('nuxt-i18n')) { %>['nuxt-i18n', {
      locales: [
        {
          code: 'en',
          iso: 'en-US',
          name: 'English',
          file: 'en-US.js'
        }
      ],
      defaultLocale: 'en',
      vueI18n: {
        fallbackLocale: 'en'
      },
      lazy: true,
      langDir: 'assets/locale/'
    }]<% } %>
  ]<% } %>
}
